<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oneroom</title>
    <link rel="stylesheet" href="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/css/style.css">
</head>
<body>
<main class="display-nav">
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/logo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-5">
                    <li class="nav-item dropdown ml-2">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/cat.svg" class="pr-1" alt=""> Категории
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                
                <form class="form-inline form-search mr-auto ml-5">
                    <input class="form-control" type="search" placeholder="Ищите любой курс или видео" aria-label="Search">
                    <button class="btn btn-search my-2 my-sm-0" type="submit"><img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/searchicons.svg" alt=""></button>
                </form>
                
                <ul class="navbar-nav sign-in-toolbar">   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мои курсы</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/heart.svg" alt=""></a>
                    </li>
                    <li class="nav-item dropdown avatar ml-4">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="avatar-name avatar-bg-1">A</span>
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Выйти</a>
                            </div>
                    </li>
<!--
                    <li class="nav-item">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Войти</button>
                    </li>
                    
-->
                </ul>
                
            </div>
        </nav>
    </header>
</main>
<section class="landing">
    <div class="container">
        <span class="landing-leasson-type course">Онлайн курс</span>
        <div class="row">
            <div class="col-12">
                <h1 class="h1">Академический рисунок</h1>
            </div>
            <div class="col-lg-6 col-md-8 col-12">
                <p>Подъём с затонувшего эсминца легкобьющейся древнегреческой амфоры сопряжён с техническими трудностями.</p>
            </div>
        </div>
        <div class="info-about-video">
            <button class="btn btn-purchesse"><span class="icon-block"><img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/caticon.svg" alt="" class="icon-block-cat"></span>Купить урок</button>
            <span class="info-about-video-item"><span class="name">Стоимость:</span><span class="price">Бесплатно</span><del class="old-price">1000 тг.</del></span>
            <span class="info-about-video-item"><span class="name">Длительность:</span><span class="time">1 час, 12 минут</span></span>
        </div>
        <div class="video-block">
            <a href="#1" class="video-block-cover-bg"></a>
            <div class="play-wrap">
                <a href="#2" class="btn-play stretched-link">
                    <img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/play-img.svg" alt="" class="btn-play-img">
                </a>
                <span class="type-video">Интро ролик</span>
            </div>
        </div>
        
        <section class="discription">
            <h4 class="h4">Описание:</h4>
            <p>Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного), идя энергично через хрустящий камыш. Безмозглый широковещательный цифровой передатчик сужающихся экспонент. Вопрос футбольных энциклопедий замещая чушью: эй, где съеден ёж?</p>
        </section>
        
        <section class="cogort">
            <h4 class="h4">Для кого разработан урок:</h4>
            <p class="cogort-name">Новичкам в Дизайне</p>
            <p>Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного), идя энергично через хрустящий камыш. Безмозглый широковещательный цифровойпередатчик сужающихся экспонент.</p>
            
            <p class="cogort-name">Новичкам в Дизайне</p>
            <p>Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного), идя энергично через хрустящий камыш. Безмозглый широковещательный цифровойпередатчик сужающихся экспонент.</p>
        </section>
    </div>
</section>
<section class="skill-point">
    <div class="container">
        <div class="skill-point-block">
            <div class="skill-point-block-wrap">
                <h4 class="h4">Чему вы научитесь после просмотра видео?</h4>
                <div class="skill-point-wrapper">
                    <span class="skill-point-wrapper-item">Разрабатывать фирменный стиль</span>
                    <span class="skill-point-wrapper-item">Создавать логотипы</span>
                    <span class="skill-point-wrapper-item">Подготовка брендбуков и гайдлайнов</span>
                    <span class="skill-point-wrapper-item">Работать с мокапами .PSD</span>
                    <span class="skill-point-wrapper-item">Предпечатная подготовка макетов</span>
                    <span class="skill-point-wrapper-item">Разрабатывать фирменный стиль</span>
                </div>
            </div>
            <div class="skill-point-block-wrap-info-about-video">
                <div class="info-about-video">
                    <button class="btn btn-purchesse"><span class="icon-block"><img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/caticon.svg" alt="" class="icon-block-cat"></span>Купить урок</button>
                    <span class="info-about-video-item"><span class="name">Стоимость:</span><span class="price">Бесплатно</span><del class="old-price">1000 тг.</del></span>
                    <span class="info-about-video-item"><span class="name">Длительность:</span><span class="time">1 час, 12 минут</span></span>
                </div>
            </div>
            <div class="skill-point-certificate">
                <div class="skill-point-certificate-wrap">
                    <div class="text-group">
                        <h4 class="h4">Сертификат Oneroom</h4>
                        <p>Подтверждает успешное прохождение курса <br>«Графический дизайнер с 0 до PRO»</p>
                    </div>
                    <div class="certificate"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="techers">
    <div class="container">
        <h4 class="h4">Преподаватели</h4>
        <div class="techers-wrap">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="techers-photo"><img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/teachers/IMG_0852.jpg" alt="" class="techers-photo-img"></div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="techers-info">
                        <h5 class="name">Жоламанов Айдарбек Жоламанович</h5>
                        <p class="prof">Учитель английского языка со стажем 8 лет</p>
                        <p class="about-text">Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного),
        идя энергично через хрустящий камыш. Безмозглый широковещательный цифровой передатчик сужающихся 
        экспонент. Вопрос футбольных энциклопедий замещая чушью: эй, где съеден ёж?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="techers-wrap">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="techers-photo"><img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/teachers/IMG_0852.jpg" alt="" class="techers-photo-img"></div>
                </div>
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="techers-info">
                        <h5 class="name">Жоламанов Айдарбек Жоламанович</h5>
                        <p class="prof">Учитель английского языка со стажем 8 лет</p>
                        <p class="about-text">Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного),
        идя энергично через хрустящий камыш. Безмозглый широковещательный цифровой передатчик сужающихся 
        экспонент. Вопрос футбольных энциклопедий замещая чушью: эй, где съеден ёж?</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a href="#">
                    <img src="../../../../../../Users/bahti/Documents/Обучающая%20платформа/wwwoneroad/img/logowhite.svg" alt="" class="logo">
                </a>
                <p class=" copy mt-5">© ТОО «Oneroom» 2020 год</p>
            </div>
            <div class="col-lg-3">
                <h6 class="h6">Информация</h6>
                <ul class="list-unstyled">
                    <li><a href="">О компании</a></li>
                    <li><a href="">Партнерам</a></li>
                    <li><a href="">Правовая информация</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h6 class="h6">Обучение</h6>
                <ul class="list-unstyled">
                    <li><a href="">Онлайн курсы</a></li>
                    <li><a href="">Обучающие видео</a></li>
                    <li><a href="">Офлайн курсы</a></li>
                    <li><a href="">Семинары</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h6 class="h6">Проекты</h6>
                <ul class="list-unstyled">
                    <li><a href="">Блог Oneroom</a></li>
                    <li><a href="">Подарочный сертификат</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
$(function(){
    $('.modal1').click(function(e){
        $(".act").text('_title_');
        $("#TV").val('_value_');
    });
    $('.modal2').click(function(e){
        $(".act").text('_title_');
        $("#TV").val('_value_');
    });
    $('.modal3').click(function(e){
        $(".act").text('_title_');
        $("#TV").val('_value_');
    });
    $('.modal4').click(function(e){
        $(".act").text('_title_');
        $("#TV").val('_value_');
    });
    $('.modal5').click(function(e){
        $(".act").text('_title_');
        $("#TV").val('_value_');
    });
    $('.modal6').click(function(e){
        $(".act").text('_title_');
        $("#TV").val('_value_');
    });
});
</script>
</body>
</html>