*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #fff;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 130%;
    letter-spacing: 0.05em;
    margin: 0;
}
h1{font-size: 48px;}
h2{font-size: 32px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h6{font-size: 16px;}
p{
    padding: 0;
}
.txt-mini{
    font-size: 14px;
}



a{text-decoration: none!important;}
ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}


.txt-white{color: #fff;}
.txt-BF{color: #BFBFBF;}
.txt-A3D1{color: #A399D1;}
.txt-A4A{color: #A4A7C2;}
.txt-5F7{color: #5F738B;}
.txt-green{color: #2A8373;}
.txt-AAA{color: #AAAAAA;}
.txt-green-100{color: #039C6F;}
.txt-99A1{color:#99A1FF;}
.txt-6A7{color: #6A70B5;}
.txt-gray{color:#706C82;}
.txt-gray-100{color:#617485;}
.txt-A78{color: #A78B8B;}
.txt-A78B{color:#A78B8B;}
.txt-B8B6{color: #B8B6B6;}
.txt-green-200{color: #02A651;}
.txt-yallow{color:#F8BE36;}
.txt-blue{color:#4B8DE4;}
.txt-blue-200{color: #349DA8;}
.txt-blue-100{color: #047ADC;}


.fon-page{
    width: 100%;
    height: 100%;

    background: #0B071D;

    font-family: 'Roboto', sans-serif;
}
.fon-main{
    background: #110D23;
    border-radius: 8px;
}
.fon-gray-800{
    background: #211E37;
}
.fon-gray-200{
    background: #5A5A5A;
}
.fon-gray-300{
    background: #1A2233;
}
.fon-gray-400{
    background: #2F3046;
}
.fon-gray-500{
    background: rgba(140, 142, 173, 0.5);
}
.fon-green-200{
    background: #02A651;
}
.fon-green-500{
    background: #2A8373;
}
.fon-green-400{
    background: linear-gradient(90deg, #0BA360 0%, #3CBA92 100%);
}
.fon-red-100{
    background: #F52C00;
}
.fon-yallow-100{background:#F8BE36;}
.fon-blue-100{background:#4B8DE4;}
.fon-btn-green{
    background: #2A8373;
    color: #fff;
}
.fon-btn-green:hover{
    background: #04805B;
}
.fon-btn-blue-100{
    background: #5460F5;
}
.btn-green-transparent{
    color: #2A8373;
    border: 1px solid #2A8373;
}
.fon-aside-card-100{
    background: linear-gradient(90deg, #667EEA 0%, #764BA2 100%);
}


.w3{
    font-weight: 300;
}
.w4{
    font-weight: 400;
}
.w5{
    font-weight: 500;
}
.w7{
    font-weight: 700;
}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center-line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-line{
    display: flex;
    align-items: center;
}
.blocks-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.rows{
    display: flex;
    flex-direction: column;
}


input {outline:none;}
input::placeholder{
    color: #fff;
}
.input{
    width: 100%;
    height: 40px;
    border-radius: 4px;

    padding-left: 16px;

    background: #292344;
    color: #fff;
    border: 1px solid #292344;
}
.input:focus{
    border: 1px solid rgba(84, 96, 245, 0.29);
}
.input-success{
    border: 1px solid #1F8E55!important;
}
.input-error{
    border: 1px solid #AB0701!important;
}
.input-form p{
    margin-bottom: 12px;
}
.input-password{
    position: relative;
}
.input-eye{
    position: absolute;
    bottom: 15px;
    right: 16px;
}
.input-form .fon-white{
    margin-left: 24px;
}


button{
    cursor: pointer;
}
.btn-big{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: none;
}
.btn-normal{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
}



.scroll{
    padding-bottom: 150px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: #26252E;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    height: 20px;
    background: #2A8373;
    border-radius: 4px;
}



.tab-bottom{
    width: 90%;
    height: 55px;

    position: fixed;
    bottom: 20px;
    left: 24px;
    padding: 4px 8px;

    display: none;

    z-index: 10;
    border-radius: 32px;
}
.tab-bottom button{
    width: 50%;
    height: 47px;

    border-radius: 32px;
    border: none;
    background: transparent;
}
.tab-bottom .active{
    background: #5460F5;
}
.tab-bottom-bg{
    background: radial-gradient(84.68% 147.01% at 15.32% 21.04%, rgba(208, 244, 252, 0.2) 0%, rgba(179, 225, 255, 0.116) 77.08%, rgba(223, 240, 255, 0.112) 100%);
    backdrop-filter: blur(10px);
}





.register-name{
    margin-bottom: 56px;
}
.margin-bot-32 {
    margin-bottom: 32px;
}
.margin-bot-24{
    margin-bottom: 24px;
}
.margin-bot-50{
    margin-bottom: 50px;
}
.margin-top-38{
    margin-top: 38px;
}



.register{
    width: 100%;
    height: 100vh;
    padding-top: 75px;

    background: url(/img/register/reg-img.svg)no-repeat center;
    background-size: cover;
}
.register-center-block{
    max-width: 460px;

    margin: 0 auto;
}
.register-content{
    max-width: 460px;
    height: auto;

    margin: 0 16px;
    margin-top: 32px;
    padding: 40px 50px 25px 50px;
}
.register .between input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    margin-right: 8px;
}
.register .between label:hover{
    cursor: pointer;
}
.register a:hover{
    color: rgb(68, 70, 182);
}
.register .center-line h5{
    margin-right: 8px;
}
.register .elipses{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.register-body .active{
    background: #2A8373;
    color: #fff;
}
.elips{
    width: 64px;
    height: 64px;

    border-radius: 50%;
    border-top: 1px solid #2A8373;
    color: #2A8373;
}
.register .btn-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.register .btn-group .next{
    width: 155px;
}
.register .btn-group .back{
    width: 75px;
    background: transparent;
}
.register .panel input{
    margin-right: 12px;
}
.register .panel{
    width: 240px;
    margin-bottom: 12px;
}


.sidebar{
    min-width: 240px;
    height: 100vh;

    padding-top: 10px;
    overflow-y: auto;
}
.sidebar .user-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar .user-img{
    width: 100px;
    height: 100px;
    background: #192233;
    border-radius: 50%;
    margin-bottom: 16px;
    border-top: 1px solid #04805B;
}
.sidebar .user-block img{
    width: 100px;
    height: 100px;

    border-radius: 50%;
    margin-bottom: 16px;
}
.sidebar nav{
    margin-top: 24px;
}
.sidebar nav .list-item{
    margin-bottom: 8px;

    display: flex;
    align-items: center;
}
.sidebar nav .list-item .list-item-line{
    width: 3px;
    height: 48px;

    display: none;
    background: linear-gradient(180deg, rgba(2, 166, 81, 0) 1.56%, #02A651 52.08%, rgba(2, 166, 81, 0) 100%);
}
.sidebar nav li.active .list-link{
    background: #211E37;
}
.sidebar nav li.active .list-item-line{
    display: block;
}

.sidebar nav .list-item:hover .list-item-line{
    display: block;
}
.sidebar nav .list-item:hover .list-link{
    background: #211E37;
}

.sidebar nav .list-link{
    width: 100%;
    height: 48px;

    display: flex;
    align-items: center;

    color: #fff;
    cursor: pointer;
}
.sidebar nav .list-link i{
    margin-left: 35px;
    margin-right: 10px;
}




main{
    width: 100%;
}
header{
    width: 100%;
    height: 114px;

    padding: 30px 50px;

    background: #0B071D;
    z-index: 1;
}
header .top{
    padding-top: 24px;
    margin-bottom: 70px;
}
header .top-item{
    width: 32px;
    height: 32px;

    border-radius: 4px;
    cursor: pointer;
}
.border-gradient{
    border-width: 1px;
    border-style: solid;
    border-top: 1px solid rgba(2, 166, 81, 1);
    border-image:
            linear-gradient(
                    to bottom,
                    rgba(2, 166, 81, 1),
                    rgba(2, 166, 81, 0)
            ) 1 100%;
}
.main-content{
    width: 100%;
    margin: 0 24px 0 16px;
}
.main-block{
    padding: 35px 30px;
}
.main-block .main-list{
    display: flex;

    margin-bottom: 64px;
}
.main-block .main-list::-webkit-scrollbar {
    height: 0!important;
}
.main-block .main-list .list-item{
    width: 100%;
    text-align: center;

    padding-bottom: 20px;
}
.main-block .main-list .active{
    color: #fff;
}
.main-block .main-list a:hover{
    color: #5F738B;
}
.main-block .main-list .list-item .green{
    background: url(/img/main/green.svg)no-repeat center!important;
    background-size: cover!important;
}
.main-block .main-list .list-item .blue{
    background: url(/img/main/blue.svg)no-repeat center!important;
    background-size: cover!important;
}
.main-block .main-list .list-item .list-item_line{
    width: 100%;
    height: 8px;
    margin-top: 30px;
    background: #232B3D;
}
.main-block .block-CV {
    width: 200px;
    height: 204px;
    background: url(/img/main/img-CV.svg)no-repeat center;
    background-size: contain;
}
.main-block .block-PV {
    width: 104px;
    height: 204px;
    background: url(/img/main/img-PV.svg)no-repeat center;
    background-size: contain;
}
.main-block .cards{
    width: 320px;
}
.main-block .cards .one{
    background: url(/img/main/1.png)no-repeat center;
    background-size: contain;
}
.main-block .cards .two{
    background: url(/img/main/2.png)no-repeat center;
    background-size: contain;
}
.main-block .item-card{
    min-width: 282px;
}
.main-block .banner{
    min-width: 282px;
    height: 135px;

    padding: 16px;

    background: linear-gradient(90deg, #09203F 0%, #537895 100%);
    border-radius: 8px;
}
.banner-2{
    background: linear-gradient(90deg, #0250C5 0%, #D43F8D 100%)!important;
}
.main-block .banner-header{
    margin-bottom: 14px;
}
.main-block .line{
    background: #110D23;
    border-radius: 8px;
    padding: 18px 16px;
}
.main-block .activity{
    width: 320px;
    height: 260px;
    margin: 0 auto;

    position: relative;
}
.main-block .activity-title{
    margin-left: 7%;
    margin-top: 40px;
    margin-bottom: 16px;
}
.activity-block{
    width: 304px;
    height: 174px;

    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 10px;
    background: rgba(17, 13, 35, 0.9);
    border-radius: 8px;
}


.before .main-content{
    padding-left: 18px;
}
.before .cards{
    width: 100%;
    min-height: 260px;

    padding: 24px 0px 40px 40px;

    display: flex;
    justify-content: space-between;

    background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(111, 184, 200, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%);
    backdrop-filter: blur(80px);
    border-radius: 8px;
}
.before .cards img{
    margin-right: 25px;
}
.before .cards li{
    width: 345px;
    margin-bottom: 24px;
}
.before .cards-block{
    width: 270px;
    margin: 0 auto;
}
.before .resed{
    padding: 10px 20px;
    background: #5460F5;
    border-radius: 4px;
    color: #fff;
}





aside{
    min-width: 375px;
    height: 100vh;

    background: #110D23;
}
aside .cardes{
    width: 100%;
    height: 60px;

    padding: 4px 4px 4px 16px;
    margin-bottom: 10px;

    border-radius: 8px;
}
aside .circle{
    width: 12px;
    height: 12px;

    border-radius: 50%;
}
aside .date{
    width: 81px;
    height: 52px;

    position: relative;

    background: #110D23;
    border-radius: 8px;
}
aside .date .circle{
    position: absolute;
    top: 14px;
    left: -15px;

    width: 24px;
    height: 24px;

    background: #1323DE;
    border-radius: 50%;
}
.asideOpen{
    width: 100%;
    height: auto;
    padding-bottom: 85px;
    display: block;
    right: 0;
}






.invate{
    width: 100%;
    height: 100vh;
}
.invate .invate-block{
    width: 520px;
    height: 590px;

    text-align: center;
    padding: 65px 50px;
    background: linear-gradient(104.25deg, rgba(58, 53, 81, 0.2) 0%, rgba(45, 40, 69, 0.2) 100%), rgba(241, 241, 241, 0.1);
    box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.4);

    border-radius: 16px;
}
.invate-btn{
    padding: 14px 40px;
    margin: 0 auto;
    border-radius: 4px;
    color: #fff;
}
.img-bottom{
    position: absolute;
    bottom: 0px;
    left: 0;
}
.img-top{
    position: absolute;
    top: 0px;
    right: 0;
}




.payment{
    display: flex;
}
.payment-block{
    padding: 64px 0 0 64px;
}
.payment .block-img{
    width: 600px;
    height: 400px;

    padding: 48px;

    background: url(/img/payment/main-img.svg)no-repeat center;
    background-size: cover;
}
.payment a{
    color: #fff;
}
.payment .block-img .body .tab-content{
    margin-top: 80px;
}
.payment .block-img .body .tab-pane a{
    padding: 13px 48px;
    background: #2A8373;
    border-radius: 4px;
}
.payment .blocks-img {
    width: 400px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 27px;

    background: url(/img/payment/main-img2.svg)no-repeat center;
    background-size: cover;
}
.payment .fon-main{
    width: 560px;

    padding: 24px 32px;
    margin-left: 45px;
    margin-top: 140px;
}
.payment .fon-main .line{
    width: 100%;
    height: 60px;

    padding: 10px 22px;
    margin-bottom: 16px;

    background: #0F182B;
    border-radius: 8px;
}
.payment .box{
    width: 560px;
    height: 640px;
    padding: 140px 32px 32px 32px;
    position: relative;
    border-radius: 8px;
    margin-left: 64px;
    margin-top: 160px;
}
.payment .box .banner{
    width: 400px;
    height: 180px;

    margin: 0 auto;
    margin-top: -220px;
    margin-bottom: 48px;

    background: url(/img/payment/main-img-mini.svg)no-repeat center;
}
.payment .tab-content input{
    width: 340px;
    height: 40px;
    padding: 12px 16px;
    border: none;
    color:#fff;
    background: #292344;
    border-radius: 4px;
}
.payment .tab-content button{
    width: 170px;
    height: 48px;
    border: none;
    color:#fff;
    background: #2A8373;
    border-radius: 4px;
}




.activity-line{
    width: 90%;
    height: auto;
    padding: 16px 30px;
    background: #0F182A;
}
.activity-line:hover{
    background: #263554;
    border-radius: 4px 4px 0px 0px;
}
.activity .activity-line .hiden{
    display: none;
}
.activity .activity-line .hiden2{
    display: block;
}
.activity .activity-item{
    width: 120px;
    text-align: center;
}
.activity .flex-line{
    width: 35%;
    text-align: left;
}






.statistic{
    padding-left: 64px;
}
.statistic .block{
    width: 420px;
    height: auto;

    background: linear-gradient(104.25deg, rgba(58, 53, 81, 0.2) 0%, rgba(45, 40, 69, 0.2) 100%), rgba(241, 241, 241, 0.1);
    box-shadow: inset 0px 0.5px 2px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);

    margin-top: 32px;
    padding: 32px;

    border-radius: 4px;
}
.statistic .info{
    width: 100%;
    height: auto;

    padding: 24px 16px 14px 16px;

    background: #212F4A;
    border-radius: 8px;
}
.statistic .progres{
    width: 100%;
    height: 8px;
    background: #494040;
    border-radius: 4px;
}
.statistic .bar{
    width: 25%;
    height: 8px;
    background: #00CDA8;
    border-radius: 4px;
}
.statistic .banner{
    width: 380px;
    height: 140px;
    background: url(/img/statistic/banner.png)no-repeat center;
    background-size: cover;
    padding: 0 16px;
}
.statistic .block-main{
    width: 895px;
    height: 445px;
    padding: 40px;
    background: #181B31;
    border-radius: 8px;
}
.statistic .block-main .block-content{
    margin-top: 80px;
    position: relative;
}
.statistic .block-main .block-content .item{
    margin-bottom: 40px;
    position: relative;
}
.statistic .block-main .block-content .item p{
    font-size: 12px;
}
.statistic .block-main .block-content .item::after{
    content: "";
    width: 78%;
    position: absolute;
    bottom: 5px;
    right: 15px;
    height: 1px;
    border-width: 4px;
    border-bottom: 1px dashed #E9E9E9;
}
.statistic .block-main .block-content .bar-block{
    width: 75%;
    height: 200px;
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
}
.statistic .block-main .block-content .bar-block .bars{
    width: 56px;
    height: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.statistic .block-main .block-content .bar-block .bars .bars-color{
    width: 100%;
    height: 25%;
    background: #564180;
    border-radius: 8px;
    position: relative;
}
.statistic .block-main .block-content .bar-block .bars .bars-color:hover{
    background: #28B78D;
}
.statistic .block-main .block-content .bar-block .bars .bars-color:hover .bars-box{
    display: flex;
}
.statistic .block-main .block-content .bar-block .bars .bars-box{
    width: 100%;
    height: 40px;
    background: #28B78D;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: -61px;
    color: #fff;
}
.statistic .block-main .block-content .bar-block .bars p{
    margin-bottom: -34px;
    margin-top: 16px;
}
.statistic .img{
    width: 290px;
    height: 80px;
    background: url(/img/statistic/banner-card.png)no-repeat center;
    background-size: cover;
    padding: 13px 16px;
    margin-right: 13px;
    margin-bottom: 24px;
}






.merop a{
    color: #fff;
}
.merop-content{
    width: 100%;
}
.merop .cards{
    width: 320px;
    height: 265px;

    padding: 8px;
    margin-right: 55px;
    margin-bottom: 50px;

    border-radius: 8px;

}
.merop .info{
    width: 95px;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 65px;
}
.merop .one{
    background: url(/img/merop/one.png)no-repeat center;
    background-size: cover;
}
.merop .cards .content{
    width: 100%;
    background: rgba(17, 13, 35, 0.9);
    border-radius: 8px;
    padding: 10px;
    margin-top: 85px;
}
.merop .merop-content .text{
    width: 590px;
}
.merop .merop-content .banner-block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.merop .merop-content .banner{
    width: 320px;
    height: 120px;
    background: url(/img/merop/banner.png)no-repeat center;
    padding: 16px;
}
.merop .merop-content .banner img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.merop .merop-content .main-img{
    max-width: 695px;
    max-height: 310px;
}
.merop .merop-content .banner-one{
    margin-right: 40px;
    margin-bottom: 24px;
}

/*Notification start*/
.notification{
    position: absolute;
    z-index: 100;
    display: none;
    right: 4rem;
    top:4rem;
    width: 331px;
    height: 420px;
    background: #110D23;
    box-shadow: 0px 10px 10px rgba(84, 96, 245, 0.07);
    color: #ffffff;
    border-radius: 4px;
    padding-top: 21px;

}
.notification .top{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #FBFBFB;
    text-align: center;
    margin-bottom: 31px;
}
.notification .card .message-title {
    font-weight: 500;
}
.notification .card{
    background: #192233;
    border-radius: 8px;
    padding:16px;
    font-size: 12px;
    margin-bottom: 16px;
}
.notification .card span.grey{
    color: #929292;
    text-align: right;
}
.notification .card .content{
    color: #BBB0B0;
}
.notification .bottom{
    text-align: center;
    padding: 10px;
}
.notification-body{
    height: 300px;
    overflow-y: scroll;
}
.notification ::-webkit-scrollbar {
    display: none;
}


@-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
#notification-bell {
    color: rgb(245,245,245);
    margin-left: -4px;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 -1px rgba(0,0,0,.1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
/*Notification end*/




.support button{
    width: 227px;
    height: 40px;
    border: none;
    border-radius: 4px;
}
.support .line{
    width: 80%;
    background: #0F182B;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 16px;
}
.support .line:hover{
    background: #263554;
}

.support .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.support .block{
    width: 576px;
    height: 615px;
    padding: 48px;
    background: #110D23;
    border: 1px solid #192233;
    border-radius: 4px;
}
.support .block .box{
    width: 100%;
    height: 400px;
}
.support .block .box div{
    width: 100%;
}
.support .block .box input{
    width: 100%;
    height: 40px;
    background: #0B071D;
    border: 1px solid #192233;
    border-radius: 4px;
    margin-top: 12px;
    padding: 11px 16px;
    color: #fff;
}
.support .block .box .input-form-text input{
    width: 100%;
    height: 80px;
    background: #0B071D;
    border: 1px solid #192233;
    border-radius: 4px;
    margin-top: 12px;
    padding: 11px 16px;
    color: #fff;
}
.support .block .box .input-form-massege input{
    width: 100%;
    height: 48px;
    background: #0B071D;
    border: 1px solid #192233;
    border-radius: 4px;
    margin-top: 12px;
    padding: 11px 16px;
    color: #fff;
}
.support .block .box button{
    width: 48px;
    height: 48px;
}




.settings .block-img{
    width: 555px;
    height: 120px;
    padding: 28px 24px;
    background: url(/img/settings/main-img.png)no-repeat center;
    background-size: cover;
}
.settings  .img-user{
    width: 64px;
    height: 64px;

    background: #655F81;
    border-radius: 4px;
}
.settings .input-form input{
    width: 360px;
    height: 40px;
    background: #292344;
    border: 1px solid #192233;
    border-radius: 4px;
    margin-top: 12px;
    padding: 11px 16px;
    color: #fff;
}
.settings .input-form{
    margin-bottom: 32px;
}
.settings button{
    width: 135px;
    height: 40px;

    background: #2A8373;
    border-radius: 4px;
    border: none;
    color: #fff;
}
.settings .line{
    width: 360px;
    height: 55px;

    padding: 20px 24px;
    margin-bottom: 14px;
    background: #161C2B;
    border-radius: 4px;
}
.settings .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}




.profil .cards{
    width: 420px;
    height: 160px;

    padding: 35px 24px;
    margin-bottom: 80px;

    background: #0F182A;
    border-radius: 4px;
}
.profil .line{
    width: 580px;
    height: 56px;
    background: #0F182A;
    border-radius: 4px;
    margin-bottom: 16px;
}
.profil .banner{
    width: 133px;
    height: 140px;
    text-align: center;
    background: #0F182A;
    border-radius: 4px;
    margin-bottom: 16px;
}
.profil .block{
    width: 580px;
    flex-wrap: wrap;
}






@media screen and (max-width: 1387px) {
    .main-block .cards{
        width: 100%;
    }
    .merop .merop-content .main-img{
        width: 590px;
    }
}
@media screen and (max-width: 1313px) {
    .before{
        padding: 0px 0 0 24px;
    }
    .img-bottom{
        display: none;
    }
    .payment-blocks{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .payment-block{
        padding-left: 16px;
    }
    .payment {
        flex-direction: column;
    }
    .payment .fon-main{
        margin-top: 38px;
        margin-left: 16px;
    }
    .merop .merop-content .text{
        width: 98%;
    }
    .activity-line{
        width: 98%;
    }
}
@media screen and (max-width: 1213px){
    .merop .merop-content .main-img{
        width: 490px;
    }
    .statistic .block-main{
        width: 98%;
    }
}
@media screen and (max-width: 1115px){
    .merop .merop-content .main-img{
        width: 390px;
    }
}
@media screen and (max-width: 992px) {
    header{
        position: fixed;
    }
    .sidebar{
        width: 240px;
        position: absolute;
        left: 0;
        top: 85px;
        background: #0B071D;
        z-index: 1;
    }
    main{
        margin-top: 125px;
        padding: 0 16px;
    }
    .main-content{
        margin: 0px 0px 0 0px;
    }
    .payment-block{
        padding: 130px 16px 0 16px;
    }
    .payment .box {
        margin-top: 215px;
        margin-left: 16px;
    }
    .activity{
        margin-top: 130px;
        padding-left: 16px;
    }
    .activity .activity-line{
        width: 98%;
        height: auto;
        padding: 10px 24px;
    }
    .activity .none{
        display: none;
    }
    .statistic{
        padding-left: 16px;
    }
    .merop .merop-content .main-img{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    aside{
        position: absolute;

        display: none;
        right: -375px;
        margin-bottom: 150px;
    }
    main{
        width: 100%;
    }
    .before{
        padding: 0px 16px 0 24px;
    }
    .scroll{
        height: 75vh;
    }
    .tab-bottom{
        display: flex;
    }
    .main-block .main-list{
        overflow-x: auto;
    }
    .main-block .main-list .list-item{
        min-width: 120px;
    }
    .payment-block{
        width: 100%;
        padding: 130px 16px 0 16px;
    }
    .payment .block-img{
        width: 100%;
    }
    .payment .box .banner {
        right: 151px;
    }
    .payment .box {
        width: 94%;
    }
    .activity .activity-line{
        width: 98%;
    }
    .activity .activity-line .hiden{
        display: block;
    }
    .activity .activity-line .hiden2{
        display: none;
    }
    .activity .activity-item{
        width: 150px;
    }
    .activity .flex-line {
        width: 50%;
    }
    .support .block {
        width: 540px;
    }
    .statistic .block-main .block-content .bar-block .bars {
        margin: 0 5px;
    }
    .statistic .block-main{
        padding: 24px 16px;
    }
}
@media screen and (max-width: 575px){
    .register-content {
        padding: 40px 20px 25px 20px;
        margin: 0 16px;
    }
    .main-block{
        padding: 35px 10px;
    }
    .invate .invate-block{
        width: 100%;
        padding: 65px 10px;
    }
    .payment .fon-main{
        width: 100%;
        margin: 0 16px;
        padding: 24px 16px;
        margin-top: 32px;
    }
    .merop .cards{
        width: 100%;
        margin-right: 0;
    }
    .merop a{
        width: 100%;
    }
    .support{
        padding-left: 16px;
    }
    .support .block {
        width: 100%;
        padding: 40px 16px;
    }
    .support .line{
        height: 100px;
    }
    .activity .activity-line{
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    .main-content{
        margin: 100px 16px 0 16px;
    }
    .before .cards {
        padding: 24px 0px 40px 0px;
    }
    .main-block .activity {
        width: 285px;
    }
    .activity-block {
        width: 270px;
    }
    .before .cards li{
        width: 100%;
    }
    .before{
        padding: 0px;
    }
    .settings .input-form input{
        width: 100%;
    }
    .merop .merop-content .banner{
        width: 100%;
        margin-right: 0;
    }
    .statistic .block-main .block-content .bar-block .bars{
        margin: 0 2px;
    }
}



/* ======= MIN-WIDTH ======== */
@media screen and (min-width: 768px){
    .scroll{
        height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}